html{
}

body{
    color: white;
    background-color: #2660A4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #2660A4;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

#Logo{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
}

#Logo span{
    color: #F19953;
}

nav{
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1400px;
    display: flex;
    padding: 1rem 10%;
}

a:hover{
    padding: 15px;
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}


#Presentacion {
    color: black;
    background-color: #EDF7F6;
    padding: 20px;
    border-radius: 20px;
    border-color: #F19953;
    border: solid;
    border-width: 5px;
    width: 315px;
    margin-bottom: 20px;
    margin-top: 20px
}

#Sobre_mi {
    color: black;
    background-color: #EDF7F6;
    padding: 20px;
    border-radius: 20px;
    border-color: #F19953;
    border: solid;
    border-width: 5px;
    width: 315px;
    margin-top: 20px
}

#ImagenPresentacion{
    width: 275px;
    height: 400px;
    border: solid;
    border-radius: 999px;
}

#Habilidades {
    color: black;
    background-color: #EDF7F6;
    padding: 20px;
    border-radius: 20px;
    border-color: #F19953;
    border: solid;
    border-width: 5px;
    width: 315px;
    margin-top: 20px;
    margin-bottom: 20px
}

#ImagenP1{
    width: 275px;
    height: 400px;
    border-radius: 999px;
}

footer {
    justify-content: end;
}
